// START HEADER
header#header.header.novideo
  .full-screen
    // START STICKY NAVBAR
    .navbar.navbar-default.navbar-fixed-top.navbar-sticky
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src='img/paul_dark.png', alt='')
        // MENU
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right.main-navbar
            li
              a(href='#header')  首页
            li
              a(href='#features') 特征
            li
              a(href='#shots') 截图
            li
              a(href='#plans') 计划
            li
              a(href='#download'): strong 下载
    // END STICKY NAVBAR
    .container
      // MAIN LOGO
      .top-logo
        img(src='img/paul_white.png', alt='')
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          // INTRO MESSAGE
          .intro-section
            h1.intro 承接个人博客,网站,后台管理系统,微信小程序
            h5 订制化前端开发
              //- a.buy-link(href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123") WrapBootstrap
            // DEMO BUTTON
            //- a.btn.btn-lg.btn-theme.scrollto(href='#download')
            .text-center
              a.btn.btn-lg.btn-theme.scrollto(href='#versions')
                i.icon-app-download
                span 作品展示
          .intro-shot
            img.img-responsive(src="img/header.shot.png", alt="Header shot", data-no-retina="")
// END HEADER

